* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: black;
  }
  
  .container {
    width: 330px;
    margin: auto;
    background-color: black;
    border-radius: 50px;
  }
  
  .calc-body {
    width: 300px;
    margin: auto;
  }
  
  .calc-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: black;
    width: 100%;
    height: 150px;
    padding: 20px;
  }
  
  .calc-typed {
    margin-top: 20px;
    font-size: 45px;
    text-align: right;
    color: #fff;
  }
  
  .calc-button-row {
    width: 100%;
  }
  
  .button {
    width: 25%;
    color: #fff;
    background-color: rgb(61, 61, 61);
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    // vertical-align: middle;
    margin-right: -4px;
    border-radius: 100px;
    border-bottom: solid 2px #3c4857;
    transition: all 0.2s ease-in-out;
  }
  
  .button.grey {
    color: black;
    background-color: rgb(167, 165, 165);
  }
  
  .button.orange {
    color: white;
    background-color: orange;
  }
  
  .button:hover {
    background: #e0b612;
    // transform: rotate(5deg);
  }
  
  .button.c:hover,
  .button.l:hover {
    background: #e0b612;
    color: #fff;
  }
  
  .blink-me {
    color: #e0b612;
  }
  